--swiftversion 6.0
--indent 4
--maxwidth 110
--wraparguments before-first
--wrapparameters before-first
--wrapcollections preserve
--commas inline
--self remove
--exclude .build,Showcase/DrawablyShowcase.xcodeproj
